.table-header {
  font-size: xx-small;
  color: #C0B181;
  border: 1px solid #6F6F6F;
}

select {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

label {
  color: #FFFFFF;
  padding-right: 2%;
}
