<div class="row" style="padding-top: 1%">
  <div class="col-md-12">
    <h3 class="gold"><b>Podsumowanie miesiąca</b></h3>
  </div>
</div>

<div class="row" style="padding-top: 1%">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="table-header" *ngFor="let column of columns">
          {{column}}
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngIf="kpir == null || kpir.invoices.length <= 0; else elseBlock">
          <td style="border: 1px solid #6F6F6F" colspan="7">Brak faktur w wybranym okresie</td>
        </tr>
        <ng-template #elseBlock>
          <tr>
            <td style="border: 1px solid #6F6F6F">{{monthSummary.income|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{monthSummary.expense|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{monthSummary.profit|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{monthSummary.tax|negativeToZero |number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{monthSummary.healthContribution|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{monthSummary.totalTax|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{monthSummary.totalProfit|number:'1.2-2'}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
