<div class="rounded rectangle">
  <div class="row">
    <div class="col-md-12">
      <h3 class="gold"><b>Lista kontraktorów</b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field>
        <input matInput id="contractorFilter" placeholder="Nazwa/NIP kontrahenta" name="contractorFilter" (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="padding-top: 1%">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="table-header" *ngFor="let column of columns">
            {{column}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="contractors.length <= 0; else elseBlock">
          <td style="border: 1px solid #6F6F6F" colspan="9">Brak kontraktorow</td>
        </tr>
        <ng-template #elseBlock>
          <tr *ngFor="let contractor of contractors; let i = index">
            <td style="border: 1px solid #6F6F6F">{{i + 1}}</td>
            <td style="border: 1px solid #6F6F6F">{{contractor.name}}</td>
            <td style="border: 1px solid #6F6F6F">{{contractor.nip}}</td>
            <td style="border: 1px solid #6F6F6F">{{contractor.street}}</td>
            <td style="border: 1px solid #6F6F6F">{{contractor.houseNumber}}</td>
            <td style="border: 1px solid #6F6F6F">{{contractor.flatNumber}}</td>
            <td style="border: 1px solid #6F6F6F">{{contractor.zipCode}}</td>
            <td style="border: 1px solid #6F6F6F">{{contractor.city}}</td>
            <td style="border: 1px solid #6F6F6F; min-width: 80px">
              <button type="button" class="btn btn-primary" style="min-width: 90px; margin-top: 5%"
                      (click)="editContractor(i)">
                <i class="fa fa-pencil mr-1" aria-hidden="true"></i>Edytuj
              </button>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <app-page-navigation [totalPages]="totalPages" (onPageChange)="updateList($event)"></app-page-navigation>
</div>
