.navbar-light, .dropdown-menu{
  background-color: #191919;
}

li > a, .navbar-header a, .dropdown-menu a {
  color: #999999 !important;
}

li > a:hover, .navbar-header a:hover, .dropdown-menu a:hover {
  color: #FFFFFF !important;
  border: none;
}

.active > a {
  color:#FFFFFF !important;
  border: none;
}
