<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <div class="navbar-header" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']" class="navbar-brand">Rozlicz fakturę</a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-auto" id="mainmenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a *ngIf="authenticationService.isLoggedIn()" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">Lista faktur</a>
          <div class="dropdown-menu" aria-labelledby="submenu">
            <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="/sales" [routerLinkActive]="['active']">Sprzedaży</a>
            <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="/purchases" [routerLinkActive]="['active']">Zakupu</a>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="/vatRecords">Ewidencja VAT</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="/kpir">KPiR</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="/statistics">Statystyki</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="/contractors">Kontraktorzy</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf="!authenticationService.isLoggedIn()" class="nav-link" routerLink="/registerUser"><i class="fa fa-user mr-1" aria-hidden="true"></i>Załóż konto</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf="!authenticationService.isLoggedIn()" class="nav-link" routerLink="/login"><i class="fa fa-sign-in mr-1" aria-hidden="true"></i>Zaloguj się</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="/userProfile" title="Profil użytkownika">{{contractor.name + ': ' + contractor.nip}}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authenticationService.isLoggedIn()" class="nav-link" routerLink="" style="color: #000000" title="Wyloguj się" (click)="authenticationService.logOut(false)">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
