<div class="row">
  <div class="col-md-12" style="padding: 1%">
    <h3 class="gold"><b>Nowy dokument zakupu</b></h3>
  </div>
</div>

<form #invoiceForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <div class="rounded rectangle">
        <h4 class="gold"><b>Dane Faktury</b></h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Numer faktury" [(ngModel)]="invoice.number" required name="invoiceNumber" [readonly]="readonly">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="gpInvoiceIssue" placeholder="Data wystawienia" [(ngModel)]="invoice.issue" (dateChange)="initializeDates(this.invoice.issue)" readonly="true" name="invoiceIssueDate">
              <mat-datepicker-toggle matSuffix [for]="gpInvoiceIssue"></mat-datepicker-toggle>
              <mat-datepicker #gpInvoiceIssue [disabled]="readonly"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="gpInvoiceReceived" placeholder="Data otrzymania" [(ngModel)]="invoice.received" readonly="true" name="invoiceReceiveDate">
              <mat-datepicker-toggle matSuffix [for]="gpInvoiceReceived"></mat-datepicker-toggle>
              <mat-datepicker #gpInvoiceReceived [disabled]="readonly"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="gpInvoiceDelivery" placeholder="Data dostawy" [(ngModel)]="invoice.delivery" readonly="true" name="invoiceDeliveryDate">
              <mat-datepicker-toggle matSuffix [for]="gpInvoiceDelivery"></mat-datepicker-toggle>
              <mat-datepicker #gpInvoiceDelivery [disabled]="readonly"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row" style="min-height: 64.8px">
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8" >
      <div class="rounded rectangle">
        <app-contractor-component [contractor]="invoice.contractor"></app-contractor-component>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 1%">
      <div class="rounded rectangle" style="padding: 1%">
        <h4 class="gold"><b>Zapisy do rejetru zakupu VAT</b></h4>
        <div class="row" style="position: relative">
          <div *ngIf="invoiceType == 'purchase'" class="col-md-4" style="margin-top: 2%">
            <b class="gold">Wprowadzono w cenach</b>
            <label *ngFor="let key of priceTypesKeys" style="padding-left: 1%">
              <input type="radio" [value]="priceTypes[key]" name="priceType"
                     [(ngModel)]="this.invoice.priceType"
                     (change)="changePriceTypeColumn()"
                     [disabled]="invoiceItemsEmpty()">
              {{priceTypesMapping[key]}}</label>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input matInput [matDatepicker]="gpInvoicePosting" placeholder="Data księgowania" [(ngModel)]="invoice.posting" readonly="true" name="invoicePostingDate">
              <mat-datepicker-toggle matSuffix [for]="gpInvoicePosting"></mat-datepicker-toggle>
              <mat-datepicker #gpInvoicePosting [disabled]="readonly"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="invoiceType == 'purchase';else noVatTable" class="row">
          <div class="col-md-12" style="padding-top: 1%">
            <table class="table table-striped">
              <thead>
              <tr>
                <th class="table-header" *ngFor="let column of columns">
                  {{column}}
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="invoice.invoiceItems.length == 0; else elseBlock">
                <td style="border: 1px solid #6F6F6F" colspan="10">Brak pozycji</td>
              </tr>
              <ng-template #elseBlock>
                <tr *ngFor="let item of invoice.invoiceItems; let i = index" (click)="setSelectedRow(i)" [class.active]="i == selectedInvoiceItem">
                  <td style="border: 1px solid #6F6F6F">{{item.name}}</td>
                  <td style="border: 1px solid #6F6F6F" *ngIf="this.invoice.priceType == this.priceTypeNet; else elseBlock">{{item.priceNet|number:'1.2-2'}}</td>
                  <ng-template #elseBlock>
                    <td style="border: 1px solid #6F6F6F">{{item.priceGross|number:'1.2-2'}}</td>
                  </ng-template>
                  <td style="border: 1px solid #6F6F6F">{{item.amount}}</td>
                  <td style="border: 1px solid #6F6F6F">{{item.unit}}</td>
                  <td style="border: 1px solid #6F6F6F">{{item.vat}}</td>
                  <td style="border: 1px solid #6F6F6F">{{item.priceAmountNet|number:'1.2-2'}}</td>
                  <td style="border: 1px solid #6F6F6F">{{item.priceVat|number:'1.2-2'}}</td>
                  <td style="border: 1px solid #6F6F6F">{{item.priceAmountGross|number:'1.2-2'}}</td>
                  <td style="border: 1px solid #6F6F6F"><input type="checkbox" [disabled]="true" [checked]="item.deduct50"></td>
                  <td style="border: 1px solid #6F6F6F">{{taxationReasonMapping[item.taxationReason]}}</td>
                </tr>
              </ng-template>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #noVatTable>
          <div class="row">
            <div class="col-md-12" style="padding-top: 1%">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="table-header" *ngFor="let column of noVatColumns">
                    {{column}}
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="invoice.invoiceItems.length == 0; else noEmptyNoVatList">
                  <td style="border: 1px solid #6F6F6F" colspan="6">Brak pozycji</td>
                </tr>
                <ng-template #noEmptyNoVatList>
                  <tr *ngFor="let item of invoice.invoiceItems; let i = index" (click)="setSelectedRow(i)" [class.active]="i == selectedInvoiceItem">
                    <td style="border: 1px solid #6F6F6F">{{item.name}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.priceNet|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.amount}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.unit}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.priceAmountNet|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{taxationReasonMapping[item.taxationReason]}}</td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>

        <div *ngIf="invoiceType == 'purchase';else noVatButtonsAndSummary" class="row">
          <div class="col-md-6">
            <button class="btn btn-success mr-1" (click)="addNewInvoiceItem()" [disabled]="readonly">Dodaj</button>
            <button class="btn btn-danger mr-1" (click)="removeInvoiceItem()" [disabled]="!isInvoiceItemSelected() || readonly">Usuń</button>
            <button class="btn btn-primary" (click)="editInvoiceItem()" [disabled]="!isInvoiceItemSelected() || readonly">Edytuj</button>
          </div>
          <div class="col-md-6">
            <table class="table table-striped">
              <thead>
              <tr>
                <th class="table-header" scope="col">Netto [PLN]</th>
                <th class="table-header" scope="col">VAT [PLN]</th>
                <th class="table-header" scope="col">Brutto [PLN]</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="border: 1px solid #6F6F6F">{{invoice.net | number:'1.2-2'}}</td>
                <td style="border: 1px solid #6F6F6F">{{invoice.vat | number:'1.2-2'}}</td>
                <td style="border: 1px solid #6F6F6F">{{invoice.gross | number:'1.2-2'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #noVatButtonsAndSummary>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-success mr-1" (click)="addNewInvoiceItem()" [disabled]="readonly">Dodaj</button>
              <button class="btn btn-danger mr-1" (click)="removeInvoiceItem()" [disabled]="!isInvoiceItemSelected() || readonly">Usuń</button>
              <button class="btn btn-primary" (click)="editInvoiceItem()" [disabled]="!isInvoiceItemSelected() || readonly">Edytuj</button>
            </div>
            <div class="col-md-6">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="table-header" scope="col">Netto [PLN]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="border: 1px solid #6F6F6F">{{invoice.net | number:'1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding-bottom: 1%; float: right">
      <button type="button" class="btn btn-info" (click)="onCancel()" style="float: right">Anuluj</button>
      <button type="submit" class="btn btn-success" (click)="onSubmit()" style="margin-right: 1%;float: right" [disabled]="isFormInvalid()">Zapisz</button>
    </div>
  </div>
</form>
