.header {
  padding: 1%;
}

.rectangle {
  background-color: #464646;
  border: 1px solid #000000;
  color: #FFFFFF;
}

.gold {
  color: #C0B181;
}

mat-form-field{
  width: 100%;
}

select, textarea {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus, textarea:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

.table-header {
  color: #C0B181;
  border: 1px solid #6F6F6F;
}

.table {
  background-color: #2B2B2B;
  border: 1px solid #6F6F6F;
  color: #EEEEEE;
  text-align: center;
}

.table tbody tr:hover {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

.table tr.active td {
  background-color: #000000;
  color: #FFFFFF;
}

.table {
  height: 50%;
}
