<div class="modal-header">
  <h4 class="modal-title"><b>Podgląd</b></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" style="color: #C0B181;">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div id="outerContainer">
    <div class="pdf-container">
      <pdf-viewer
        [src]="src"
        [rotation]="0"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="0.95"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="false"
        (after-load-complete)="onLoaded($event)"
        style="width: 100%; height: 70vh;"
      ></pdf-viewer>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-success" (click)="print()">Drukuj</button>
  <button type="submit" class="btn btn-success" (click)="download()">Pobierz</button>
  <button type="button" class="btn btn-info" (click)="activeModal.close('Close click')">Anuluj</button>
</div>
