.modal-header, .modal-body, .modal-footer{
  background-color: #464646;
  color: #C0B181;
  border: 1px solid #6F6F6F
}

label {
  color: #FFFFFF;
}

select, input, textarea {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus, input:focus, textarea:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}
