<div class="modal-header">
  <h4 class="modal-title"><b>Nowa pozycja</b></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" style="color: #C0B181;">&times;</span>
  </button>
</div>

<form [formGroup]="itemForm">
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="newItemName">Nazwa</label>
      <div class="col-sm-8">
        <input class="form-control" id="newItemName" formControlName="name">
        <mat-error id="emailError" *ngIf="(name.dirty || name.touched) && name.errors?.['value']">{{name.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="description" style="margin: auto">Opis</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="description" formControlName="description"></textarea>
        <mat-error id="descriptionError" *ngIf="(description.dirty || description.touched) && description.errors?.['value']">{{description.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row" *ngIf="priceType == priceTypes; else elseBlock">
      <label class="col-sm-4 col-form-label text-lg-right" for="priceInNet">Cena jedn. netto</label>
      <div class="col-sm-8">
        <input class="form-control" id="priceInNet" formControlName="price">
        <mat-error *ngIf="(price.dirty || price.touched) && price.errors?.['value']">{{price.errors?.['value']}}</mat-error>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-lg-right" for="priceInGross">Cena jedn. brutto</label>
        <div class="col-sm-8">
          <input class="form-control" id="priceInGross" formControlName="price">
          <mat-error *ngIf="(price.dirty || price.touched) && price.errors?.['value']">{{price.errors?.['value']}}</mat-error>
        </div>
      </div>
    </ng-template>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="amount">Ilość</label>
      <div class="col-sm-8">
        <input class="form-control" id="amount" formControlName="amount">
        <mat-error *ngIf="(amount.dirty || amount.touched) && amount.errors?.['value']">{{amount.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="jm">j.m.</label>
      <div class="col-sm-8">
        <input class="form-control" id="jm" formControlName="unit">
        <mat-error *ngIf="(unit.dirty || unit.touched) && unit.errors?.['value']">{{unit.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="vat">Stawka VAT [%]</label>
      <div class="col-sm-8">
        <select class="form-control" id="vat" formControlName="vat">
          <option>23</option>
          <option>8</option>
          <option>5</option>
          <option>4</option>
          <option>0</option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="onSubmitItem()" [disabled]="itemForm.invalid">Zapisz</button>
    <button type="button" class="btn btn-info" (click)="activeModal.close('Close click')">Anuluj</button>
  </div>
</form>
