<div class="rounded rectangle">

  <div class="row">
    <div class="col-md-12">
      <h3 class="gold"><b>Ewidencje</b></h3>
    </div>
  </div>

  <app-month-navigation #childComponent (onDateChangeEvent)="getData()"></app-month-navigation>

  <div class="row" style="padding-top: 1%">
    <div class="col-md-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Rejestr sprzedaży VAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Rejestr zakupu VAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">VAT do zapłaty</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row" style="padding-top: 1%">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="table-header" *ngFor="let column of columnsForRecords">
                      {{column}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngIf="saleInvoices.length <= 0; else elseBlock1">
                  <td style="border: 1px solid #6F6F6F" colspan="9">Brak faktur sprzedazy w wybranym okresie</td>
                </tr>
                <ng-template #elseBlock1>
                  <tr *ngFor="let item of saleInvoices; let i = index">
                    <td style="border: 1px solid #6F6F6F">{{i+1}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.posting}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.number}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.contractor.name + ',' + item.contractor.nip}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.contractor.getContractorAddress()}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.net|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.gross|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.vat|number:'1.2-2'}}</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #6F6F6F; text-align: right; color: #C0B181;" colspan="5"><b>Podsumowanie</b></td>
                    <td style="border: 1px solid #6F6F6F">{{this.saleSummary.net|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{this.saleSummary.gross|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{this.saleSummary.vat|number:'1.2-2'}}</td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row" style="padding-top: 1%">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="table-header" *ngFor="let column of columnsForRecords">
                      {{column}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngIf="purchaseInvoices.length <= 0; else elseBlock2">
                  <td style="border: 1px solid #6F6F6F" colspan="9">Brak faktur zakupu w wybranym okresie</td>
                </tr>
                <ng-template #elseBlock2>
                  <tr *ngFor="let item of purchaseInvoices; let i = index">
                    <td style="border: 1px solid #6F6F6F">{{i+1}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.posting}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.number}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.contractor.name + ',' + item.contractor.nip}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.contractor.getContractorAddress()}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.net|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.gross|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.vat|number:'1.2-2'}}</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #6F6F6F; text-align: right; color: #C0B181;" colspan="5"><b>Podsumowanie</b></td>
                    <td style="border: 1px solid #6F6F6F">{{this.purchaseSummary.net|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{this.purchaseSummary.gross|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{this.purchaseSummary.vat|number:'1.2-2'}}</td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row" style="padding-top: 1%">
            <div class="col-md-12">
              <table class="table table-striped" style="width: 50%">
                <thead>
                <tr>
                  <th class="table-header" *ngFor="let column of columnsForPay">
                    {{column}}
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="saleInvoices.length <= 0 || purchaseInvoices.length <= 0; else elseBlock3">
                  <td style="border: 1px solid #6F6F6F" colspan="9">Brak wszystkich faktur w wybranym okresie</td>
                </tr>
                <ng-template #elseBlock3>
                  <tr>
                    <td style="border: 1px solid #6F6F6F">{{this.saleSummary.vat|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{this.purchaseSummary.vat|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{this.saleSummary.vat - this.purchaseSummary.vat|number:'1.2-2'}}</td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
