.rectangle {
  background-color: #464646;
  padding: 1%;
  margin: 1%;
  border: 1px solid #000000;
}

.gold {
  color: #C0B181;
}

select {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

label {
  color: #FFFFFF;
  padding-right: 2%;
}

.nav-item > a{
  background-color: #2B2B2B;
  color: #EEEEEE;
}

.nav-item > a:hover:not(.active){
  color: #FFFFFF;
  border: 1px solid #6F6F6F;
}

.nav-item > .active{
  background-color: #1A1A1A;
  border: 1px solid #6F6F6F;
  color: #C0B181;
}

.nav {
  border-bottom: 1px solid #6F6F6F;;
}

.table-header {
  color: #C0B181;
  border: 1px solid #6F6F6F;
}

.table {
  background-color: #2B2B2B;
  border: 1px solid #6F6F6F;
  color: #EEEEEE;
  text-align: center;
}

.table tbody tr:hover {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

.table tr.active td {
  background-color: #000000;
  color: #FFFFFF;
}

.table {
  height: 50%;
}

