<div class="row">
  <div class="col-md-12">
    <label class="gold" for="yearSelect">Rok:</label>
    <select class="form-control mr-1" id="yearSelect" style="width: 100px; display:inline-block" (change)="onYearChange()" [(ngModel)]="selectedDate.year">
      <option *ngFor="let option of yearOptions" [value]="option">{{option}}</option>
    </select>

    <label class="gold" for="chartTypeSelect">Typ wykresu:</label>
    <select class="form-control" id="chartTypeSelect" style="width: 350px; display:inline-block" (change)="onYearChange()" [(ngModel)]="selectedChartType">
      <option *ngFor="let option of chartTypes" [value]="option">{{option}}</option>
    </select>
  </div>
</div>
