select {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

label {
  color: #C0B181;;
  padding-right: 2%;
}
