<div class="rounded rectangle">
  <div class="row">
    <div class="col-md-6">
      <h4 class="gold"><b>Kontrahent</b></h4>
    </div>
  </div>
  <form #contractorForm="ngForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput id="contractorName" placeholder="Nazwa kontrahenta" [(ngModel)]="contractor.name"
                 name="contractorName">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput id="contractorNIP" placeholder="NIP kontrahenta" [(ngModel)]="contractor.nip"
                 [readonly]="true" name="contractorNIP">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Ulica" [(ngModel)]="contractor.street" required name="contractorStreet">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Nr domu" [(ngModel)]="contractor.houseNumber" required
                 name="contractorHouseNumber">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Nr mieszkania" [(ngModel)]="contractor.flatNumber" name="contractorFlatNumber">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Kod pocztowy" [(ngModel)]="contractor.zipCode" required name="contractorZipCode">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Miasto" [(ngModel)]="contractor.city" required name="contractorCity">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding-bottom: 1%; float: right">
        <button type="button" class="btn btn-info" (click)="onCancel()" style="float: right">Anuluj</button>
        <button type="submit" class="btn btn-success" (click)="onSubmit()" style="margin-right: 1%;float: right" [disabled]="!contractorForm.valid">Zapisz</button>
      </div>
    </div>
  </form>
</div>
