<div class="rounded rectangle">
  <app-month-navigation #childComponent (onDateChangeEvent)="getInvoiceAndKPiR()"></app-month-navigation>

  <div class="row" style="padding-top: 1%">
    <div class="col-md-8">
      <h3 class="gold"><b>Lista sprzedaży i kosztów</b></h3>
    </div>
  </div>

  <div class="row" style="padding-top: 1%">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="table-header" *ngFor="let column of columns">
              {{column}}
            </th>
            <th class="table-header" style="width: 100px">Więcej</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngIf="invoices.length <= 0; else elseBlock">
          <td style="border: 1px solid #6F6F6F" colspan="10">Brak faktur w wybranym okresie</td>
        </tr>
          <ng-template #elseBlock>
            <tr *ngFor="let item of invoices; let i = index" style="font-size: small;">
              <td style="border: 1px solid #6F6F6F">{{i+1}}</td>
              <td style="border: 1px solid #6F6F6F">{{item.posting}}</td>
              <td style="border: 1px solid #6F6F6F">{{item.number}}</td>
              <td style="border: 1px solid #6F6F6F">{{invoiceTypeMapping[item.invoiceType]}}</td>
              <td style="border: 1px solid #6F6F6F">{{item.contractor.name}}</td>
              <td style="border: 1px solid #6F6F6F">{{item.contractor.nip}}</td>
              <td style="border: 1px solid #6F6F6F">{{item.net|number:'1.2-2'}}</td>
              <td *ngIf="item.invoiceType == 'no_vat';else itemWithVat" colspan="2" style="border: 1px solid #6F6F6F">Faktura bez VAT</td>
              <ng-template #itemWithVat>
                <td style="border: 1px solid #6F6F6F">{{item.vat|number:'1.2-2'}}</td>
                <td style="border: 1px solid #6F6F6F">{{item.gross|number:'1.2-2'}}</td>
              </ng-template>
              <td style="border: 1px solid #6F6F6F">
                <button type="button" class="btn btn-dark btn-sm" [disabled]="kpir == null" (click)="addInvoiceToKpir(i)">
                  <i class="fa fa-plus-square mr-1" aria-hidden="true"></i>Dodaj
                </button>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" style="padding-top: 1%">
    <div class="col-md-8">
      <h3 class="gold"><b>Księga przychodów i rozchodów</b></h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success" style="float: right" (click)="viewPdf()">
        <i class="fa fa-file-pdf-o fa-lg mr-1" aria-hidden="true"></i>Podgląd
      </button>
    </div>
  </div>

  <div class="row" style="padding-top: 1%">
    <div class="col-md-12">
      <table id="kpir" class="table table-responsive">
        <thead>
          <tr>
            <th class="table-header" rowspan="2">Lp.</th>
            <th class="table-header" rowspan="2">Data zdarzenia gospodarczego</th>
            <th class="table-header" rowspan="2">Nr dowodu księgowego</th>
            <th class="table-header" colspan="2">Kontrahent</th>
            <th class="table-header" style="min-width: 100px" rowspan="2">Opis zdarzenia gospodarczego</th>
            <th class="table-header" colspan="3">Przychód</th>
            <th class="table-header" rowspan="2">Zakup towarów handlowych i materiałów wg cen zakupu</th>
            <th class="table-header" rowspan="2">Koszty uboczne zakupu</th>
            <th class="table-header" colspan="4">Wydatki (koszty)</th>
            <th class="table-header" rowspan="2">Uwagi</th>
          </tr>
          <tr>
            <th class="table-header">Imię i nazwisko (firma)</th>
            <th class="table-header">Adres</th>
            <th class="table-header">Wartość sprzedanych towarów i usług</th>
            <th class="table-header">Pozostałe przychody</th>
            <th class="table-header">Razem przychód (7 + 8)</th>
            <th class="table-header">Wynagrodzenia w gotówce i w naturze</th>
            <th class="table-header">Pozostałe wydatki</th>
            <th class="table-header">Razem wydatki (12+13)</th>
            <th class="table-header"></th>
          </tr>
          <tr>
            <th class="table-header">1</th>
            <th class="table-header">2</th>
            <th class="table-header">3</th>
            <th class="table-header">4</th>
            <th class="table-header">5</th>
            <th class="table-header">6</th>
            <th class="table-header">7</th>
            <th class="table-header">8</th>
            <th class="table-header">9</th>
            <th class="table-header">10</th>
            <th class="table-header">11</th>
            <th class="table-header">12</th>
            <th class="table-header">13</th>
            <th class="table-header">14</th>
            <th class="table-header">15</th>
            <th class="table-header">16</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngIf="kpir == null; else elseBlock1">
          <td style="border: 1px solid #6F6F6F" colspan="16">Poprzedni miesiąc nie został rozliczony</td>
        </tr>
        <ng-template #elseBlock1>
          <tr *ngIf="kpir.invoices.length == 0">
            <td style="border: 1px solid #6F6F6F" colspan="16">Brak faktur w tym okresie</td>
          </tr>
          <tr *ngFor="let item of kpir.invoices; let i = index" (dblclick)="editKpirItem(i)" style="font-size: xx-small;">
            <td style="border: 1px solid #6F6F6F">{{i+1}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.posting}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.number}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.contractor.name}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.contractor.nip}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.invoiceIncomeAndExpenses.description}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.invoiceIncomeAndExpenses.valueGoodsAndServicesSold|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.invoiceIncomeAndExpenses.otherIncome|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.invoiceIncomeAndExpenses.totalIncome|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{0|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{0|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{0|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.invoiceIncomeAndExpenses.otherExpenses|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.invoiceIncomeAndExpenses.totalExpenses|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F"></td>
            <td style="border: 1px solid #6F6F6F">{{item.invoiceIncomeAndExpenses.comments}}</td>
            <td style="border: 1px solid #6F6F6F">
              <button type="button" class="btn btn-danger" style="margin-top: 5%; min-width: 79px" (click)="deleteKpirItem(i)">
                <i class="fa fa-trash mr-1" aria-hidden="true"></i>Usuń
              </button>
            </td>
          </tr>
          <tr style="font-size: xx-small; text-align: left; border-bottom: none; font-weight: bold">
            <td style="border: 1px solid #6F6F6F; border-bottom: none" colspan="5"></td>
            <td style="border: 1px solid #6F6F6F">Suma strony</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesCurrentPage.valueGoodsAndServicesSold|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesCurrentPage.otherIncome|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesCurrentPage.totalIncome|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesCurrentPage.payInCash|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesCurrentPage.otherExpenses|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesCurrentPage.totalExpenses|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
          </tr>
          <tr *ngIf="kpir.incomeAndExpensesPreviousPage == null; else elseBlock3">
            <td style="border: 1px solid #6F6F6F; border-bottom: none; border-top: none" colspan="5"></td>
            <td style="border: 1px solid #6F6F6F">Przeniesienie z poprzedniej strony</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
          </tr>
          <ng-template #elseBlock3>
            <tr style="font-size: xx-small; text-align: left; font-weight: bold">
              <td style="border: 1px solid #6F6F6F; border-bottom: none; border-top: none" colspan="5"></td>
              <td style="border: 1px solid #6F6F6F">Przeniesienie z poprzedniej strony</td>
              <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesPreviousPage.valueGoodsAndServicesSold|number:'1.2-2'}}</td>
              <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesPreviousPage.otherIncome|number:'1.2-2'}}</td>
              <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesPreviousPage.totalIncome|number:'1.2-2'}}</td>
              <td style="border: 1px solid #6F6F6F">-</td>
              <td style="border: 1px solid #6F6F6F">-</td>
              <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesPreviousPage.payInCash|number:'1.2-2'}}</td>
              <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesPreviousPage.otherExpenses|number:'1.2-2'}}</td>
              <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesPreviousPage.totalExpenses|number:'1.2-2'}}</td>
              <td style="border: 1px solid #6F6F6F">-</td>
              <td style="border: 1px solid #6F6F6F">-</td>
            </tr>
          </ng-template>
          <tr style="font-size: xx-small; text-align: left; font-weight: bold">
            <td style="border: 1px solid #6F6F6F; border-top: none" colspan="5"></td>
            <td style="border: 1px solid #6F6F6F">Razem od początku roku</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesYear.valueGoodsAndServicesSold|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesYear.otherIncome|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesYear.totalIncome|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesYear.payInCash|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesYear.otherExpenses|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{kpir.incomeAndExpensesYear.totalExpenses|number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">-</td>
            <td style="border: 1px solid #6F6F6F">-</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>

  <app-tax-and-health-contribution #taxAndHealthContribution [kpir]="kpir"></app-tax-and-health-contribution>

</div>
