.modal-header, .modal-body, .modal-footer{
  background-color: #464646;
  color: #C0B181;
  border: 1px solid #6F6F6F
}

label {
  color: #FFFFFF;
}

select, input, textarea, select:focus, input:focus, textarea:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

input:disabled {
  background-color: #3C3C3C;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
