.rectangle {
  background-color: #464646;
  padding: 1%;
  margin: 1%;
  border: 1px solid #000000;
}

.gold {
  color: #C0B181;
}

.white {
  color: #FFFFFF;
}

.table-header {
  color: #C0B181;
  border: 1px solid #6F6F6F;
}

select {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

label {
  color: #FFFFFF;
  padding-right: 2%;
}

.actions {
  visibility: hidden;
  position: absolute;
  background-color: #2B2B2B;
  border: 1px solid #6F6F6F;
  padding: 1%;
  z-index: 1;
}

.action-cell:hover .actions {
  visibility: visible;
}

.action-cell:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.action-cell {
  color: #EEEEEE;
}

.a .arrow {
  transition: transform 1s ease;
}

.action-cell:hover .arrow {
  transform: rotateZ(-180deg);
}

.table {
  background-color: #2B2B2B;
  border: 1px solid #6F6F6F;
  color: #EEEEEE;
  text-align: center;
}

.table tbody tr:hover {
  background-color: #1A1A1A;
  color: #FFFFFF;
}
