<div class="rounded rectangle">
  <div class="row">
    <div class="col-md-6">
      <h3 class="gold"><b>Lista faktur zakupu</b></h3>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-success" style="float: right" (click)="newInvoice('no_vat')">
        <i class="fa fa-plus fa-lg mr-1" aria-hidden="true"></i>Zakup bez VAT
      </button>
      <button type="button" class="btn btn-success mr-1" style="float: right" (click)="newInvoice('purchase')">
        <i class="fa fa-plus fa-lg mr-1" aria-hidden="true"></i>Zakup
      </button>
    </div>
  </div>
  <base-invoice-list [invoiceTypes]="invoiceType"></base-invoice-list>
</div>
