<form autocomplete="off" [formGroup]="registerForm">
<div class="rounded rectangle">
  <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="row" style="padding: 1%; margin-bottom: 2%">
      <h2 class="gold" style="margin: auto"><b>Zarejestruj użytkownika</b></h2>
    </div>
    <div class="row" style="padding-right: 1%; padding-left: 1%">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>E-mail</mat-label>
        <input id="email" matInput autocomplete="nope" formControlName="email" UniqueEmailValidator>
        <mat-error id="emailError" *ngIf="email.errors?.['email']">{{email.errors?.['email']}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row" style="padding-right: 1%; padding-left: 1%">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>NIP</mat-label>
        <input matInput autocomplete="nope" [maxLength]="10" knifeOnlyNumbers formControlName="nip" NIPValidator UniqueNIPValidator>
        <mat-error *ngIf="nip.errors?.['nip']">{{nip.errors?.['nip']}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row" style="padding-right: 1%; padding-left: 1%">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="new-password" formControlName="password" (input)="onPasswordChange()">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ukryj hasło'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.errors?.['password']">{{password.errors?.['password']}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row" style="padding-right: 1%; padding-left: 1%">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Powtórz hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="new-password" formControlName="passwordConfirm" (input)="onPasswordConfirmChange()">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ukryj hasło'" [attr.aria-pressed]="hide">
          <mat-icon style="margin: auto">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordConfirm.errors?.['passwordMismatch']">{{passwordConfirm.errors?.['passwordMismatch']}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row" style="margin: auto; width: 100%">
      <re-captcha (resolved)="resolved($event)" siteKey="6LeiiRQTAAAAAB_VZP1M031iMYTh4D_EZGc82AZC"></re-captcha>
    </div>
    <div class="row" style="padding: 1%">
      <button type="submit" class="btn btn-success mr-1" (click)="saveUser()" [disabled]="registerForm.invalid || captchaInvalid">Zapisz</button>
      <button type="button" class="btn btn-info">Anuluj</button>
    </div>
  </div>
  <div class="col-sm-3"></div>
  </div>

</div>
</form>
