mat-form-field, mat-label {
  color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black!important;
}

::ng-deep .mat-form-field-outline {
  border-radius: 5px;
  background-color: #2B2B2B;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: black!important;
}
