 <div class="row">
  <div class="col-md-12" style="padding: 10px">
    <h3 class="gold"><b>Nowa faktura</b></h3>
  </div>
 </div>
 <form #invoiceForm="ngForm">
   <div class="row">
     <div class="col-md-4" >
       <div class="rounded rectangle">
         <h4 class="gold"><b>Dane Faktury</b></h4>
         <div class="row">
           <div class="col-md-6">
             <mat-form-field>
               <input matInput placeholder="Numer faktury" [(ngModel)]="invoice.number" [readonly]="readonly" required name="invoiceNumber">
             </mat-form-field>
           </div>
           <div class="col-md-6">
             <mat-form-field>
               <input matInput [matDatepicker]="gpInvoiceIssue" placeholder="Data wystawienia" [(ngModel)]="invoice.issue" (dateChange)="initializeDates(this.invoice.issue)" readonly="true" name="invoiceIssueDate">
               <mat-datepicker-toggle matSuffix [for]="gpInvoiceIssue"></mat-datepicker-toggle>
               <mat-datepicker #gpInvoiceIssue [disabled]="readonly"></mat-datepicker>
             </mat-form-field>
           </div>
         </div>
         <div class="row">
           <div class="col-md-6">
             <mat-form-field>
               <input matInput [matDatepicker]="gpInvoicePosting" placeholder="Data ksiegowania" [(ngModel)]="invoice.posting" readonly="true" name="invoicePostingDate">
               <mat-datepicker-toggle matSuffix [for]="gpInvoicePosting"></mat-datepicker-toggle>
               <mat-datepicker #gpInvoicePosting [disabled]="readonly"></mat-datepicker>
             </mat-form-field>
           </div>
         </div>
         <div class="row">
           <div class="col-md-6">
             <mat-form-field>
               <input matInput placeholder="Miejsce wystawienia" [(ngModel)]="invoice.releasePlace" [readonly]="readonly" required name="invoiceReleasePlace">
             </mat-form-field>
           </div>
           <div class="col-md-6">
             <mat-form-field>
               <input matInput [matDatepicker]="gpInvoiceDelivery" placeholder="Data dostawy" [(ngModel)]="invoice.delivery" readonly="true" name="invoiceDeliveryDate">
               <mat-datepicker-toggle matSuffix [for]="gpInvoiceDelivery"></mat-datepicker-toggle>
               <mat-datepicker #gpInvoiceDelivery [disabled]="readonly"></mat-datepicker>
             </mat-form-field>
           </div>
         </div>
       </div>
     </div>

     <div class="col-md-8" >
       <div class="rounded rectangle">
         <app-contractor-component [contractor]="invoice.contractor"></app-contractor-component>
       </div>
     </div>
   </div>

   <div class="row">
    <div class="col-md-12">
      <div class="rounded rectangle">
        <h4 class="gold"><b>Pozycje</b></h4>
        <div class="row">
          <div class="col-md-12">
            <b class="gold">Wprowadzono w cenach</b>
            <label *ngFor="let key of priceTypesKeys" style="padding-left: 1%">
              <input type="radio" [value]="priceTypes[key]" name="priceType"
                     [(ngModel)]="this.invoice.priceType"
                     (change)="changePriceTypeColumn()"
                     [disabled]="invoiceItemsEmpty()">
              {{priceTypesMapping[key]}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="padding-top: 1%">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="table-header" *ngFor="let column of columns">
                    {{column}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="invoice.invoiceItems.length == 0; else elseBlock">
                  <td style="border: 1px solid #6F6F6F" colspan="9">Brak pozycji</td>
                </tr>
                <ng-template #elseBlock>
                  <tr *ngFor="let item of invoice.invoiceItems; let i = index" (click)="setSelectedRow(i)" [class.active]="i == selectedInvoiceItem">
                    <td style="border: 1px solid #6F6F6F">{{item.name}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.description}}</td>
                    <td style="border: 1px solid #6F6F6F" *ngIf="this.invoice.priceType == this.priceTypeNet; else elseBlock">{{item.priceNet|number:'1.2-2'}}</td>
                    <ng-template #elseBlock>
                      <td style="border: 1px solid #6F6F6F">{{item.priceGross|number:'1.2-2'}}</td>
                    </ng-template>
                    <td style="border: 1px solid #6F6F6F">{{item.amount}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.unit}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.vat}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.priceAmountNet|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.priceVat|number:'1.2-2'}}</td>
                    <td style="border: 1px solid #6F6F6F">{{item.priceAmountGross|number:'1.2-2'}}</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success mr-1" (click)="addNewInvoiceItem()" [disabled]="readonly">Dodaj</button>
            <button class="btn btn-danger mr-1" (click)="removeInvoiceItem()" [disabled]="!isInvoiceItemSelected() || readonly">Usuń</button>
            <button class="btn btn-primary" (click)="editInvoiceItem()" [disabled]="!isInvoiceItemSelected() || readonly">Edytuj</button>
          </div>
          <div class="col-md-6">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="table-header" scope="col">Netto [PLN]</th>
                  <th class="table-header" scope="col">VAT [PLN]</th>
                  <th class="table-header" scope="col">Brutto [PLN]</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="border: 1px solid #6F6F6F">{{invoice.net | number:'1.2-2'}}</td>
                  <td style="border: 1px solid #6F6F6F">{{invoice.vat | number:'1.2-2'}}</td>
                  <td style="border: 1px solid #6F6F6F">{{invoice.gross | number:'1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   </div>

   <div class="row">
     <div class="col-md-12" >
       <div class="rounded rectangle">
         <h4 class="gold"><b>Płatności</b></h4>
          <div class="row" style="min-height: 65px">
            <div class="col-md-3">
              <label style="float:left" class="col-form-label mr-1" for="paymentType">Typ płatności</label>
               <select style="width: auto; float: left" class="form-control" id="paymentType" [(ngModel)]="this.invoice.paymentType" name="invoicePaymentType">
                 <option *ngFor="let key of paymentTypesKeys" [value]="paymentTypes[key]" [disabled]="readonly">{{paymentTypesMapping[key]}}</option>
               </select>
            </div>
            <div class="col-md-2">
              <label><input class="mr-lg-1" type="checkbox" value="" [(ngModel)]="this.invoice.paymentDeadlineLikeOnContract" [disabled]="readonly" name="invoicePaymentDeadline">Termin płatności wg umowy</label>
            </div>
            <div class="col-md-2" disabled="true">
              <mat-form-field [hidden]="this.invoice.payed || this.invoice.paymentDeadlineLikeOnContract">
                <input matInput placeholder="Liczba dni na płatność" type="number" [(ngModel)]="this.invoice.daysToPay" [readonly]="readonly" (change)="daysToPayChanged()" name="invoiceDaysToPay">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field [hidden]="this.invoice.payed || this.invoice.paymentDeadlineLikeOnContract">
                <input matInput [matDatepicker]="test" placeholder="Termin płatności" [(ngModel)]="this.invoice.payment" [readOnly]="readonly" (dateChange)="changeDaysToPayment()" readonly="true" name="invoicePaymentDate">
                <mat-datepicker-toggle matSuffix [for]="test"></mat-datepicker-toggle>
                <mat-datepicker #test [disabled]="readonly"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
           <div class="col-md-2">
             <label><input class="mr-lg-1" type="checkbox" value="0" [(ngModel)]="this.invoice.payed" [disabled]="readonly" name="invoicePayed">Zapłacono</label>
           </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h6>Uwagi</h6>
              <textarea class="form-control" [(ngModel)]="this.invoice.comment" [readOnly]="readonly" name="invoiceComments"></textarea>
            </div>
          </div>
       </div>
     </div>
   </div>

   <div class="row">
     <div class="col-md-12" style="padding-bottom: 1%; float: right">
       <button class="btn btn-primary mr-1" (click)="displayFieldToUploadPDF()" [hidden]="uploadPdf || this.invoice.document?.file != null">
         <i class="fa fa-file-pdf-o mr-1" aria-hidden="true"></i>Wczytaj
       </button>
       <button class="btn btn-primary mr-1" (click)="generatePDF()" [hidden]="this.invoice.document?.file != null || uploadPdf">
         <i class="fa fa-file-pdf-o mr-1" aria-hidden="true"></i>Generuj
       </button>
       <input type="file" id="customFile" (input)="selectFile($event)" [hidden]="this.invoice.document?.file != null || !uploadPdf">
       <button class="btn btn-primary mr-1" (click)="openPdf()" [hidden]="this.invoice.document?.file == null">
         <i class="fa fa-file-pdf-o mr-1" aria-hidden="true"></i>Otwórz
       </button>
       <button class="btn btn-danger" (click)="deletePdf()" [hidden]="this.invoice.document?.file == null && !uploadPdf">
         <i class="fa fa-file-pdf-o mr-1" aria-hidden="true"></i>Usuń
       </button>
       <button type="button" class="btn btn-info" (click)="onCancel()" style="float: right">Anuluj</button>
       <button type="submit" class="btn btn-success mr-1" (click)="onSubmit()" style="float: right" [disabled]="isFormInvalid()">Zapisz</button>
     </div>
   </div>
 </form>
