.content {
  display: flex;
  justify-content: flex-end;
}

.page {
  background-color: #2B2B2B;
  color: white;
}

.pageActive {
  color: #C0B181;
}

.page:focus {
  box-shadow: 0 0 0 .2rem #C0B181;
}

.btn:focus {
  box-shadow: none;
}

.page:hover {
  color: #C0B181;
}
