<div class="content">
  <button type="button" id="prev" class="btn btn-success mr-1" [disabled]="currentPage == 1" (click)="prev()">
    <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>Wróć
  </button>
  <button *ngFor="let i of getPages()" type="button" [class.pageActive]="i==currentPage" class="btn page mr-1" (click)="setCurrentPage(i)">{{i}}</button>
  <button type="button" id="next" class="btn btn-success mr-1" [disabled]="currentPage >= totalPages" (click)="next()">
    <i class="fa fa-arrow-right mr-1" aria-hidden="true"></i>Dalej
  </button>
</div>
