<div class="modal-header">
  <h4 class="modal-title"><b>Nowy{{invoice.invoiceType == 'sale' ? ' przychód' : ' koszt'}}</b></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" style="color: #C0B181;">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label text-lg-right" for="invoiceNumber">Numer faktury</label>
    <div class="col-sm-8" style="margin-top: auto; margin-bottom: auto">
      <input class="form-control" id="invoiceNumber" [(ngModel)]="invoice.number" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label text-lg-right" for="contractor">Kontrahent</label>
    <div class="col-sm-8" style="margin-top: auto; margin-bottom: auto">
      <input class="form-control" id="contractor" [(ngModel)]="invoice.contractor.name" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label text-lg-right" for="economicEventDescription">Opis zdarzenia gospodarczego</label>
    <div class="col-sm-8" style="margin-top: auto; margin-bottom: auto">
      <input class="form-control" id="economicEventDescription" [(ngModel)]="invoice.invoiceIncomeAndExpenses.description">
    </div>
  </div>
  <div *ngIf="invoice.invoiceType == 'purchase'" class="form-group row">
    <label class="col-sm-4 col-form-label text-lg-right" for="netPercent">Całkowity koszt [%]</label>
    <div class="col-sm-8">
      <input class="form-control" id="netPercent" knifeOnlyNumbers [(ngModel)]="invoice.netCost">
    </div>
  </div>
  <div *ngIf="invoice.invoiceType == 'purchase'" class="form-group row">
    <label class="col-sm-4 col-form-label text-lg-right" for="vatPercent">Koszt vat [%]</label>
    <div class="col-sm-8">
      <input class="form-control" id="vatPercent" knifeOnlyNumbers [(ngModel)]="invoice.vatCost">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label text-lg-right" for="comments" style="margin: auto">Uwagi</label>
    <div class="col-sm-8">
      <textarea class="form-control" id="comments" [(ngModel)]="invoice.invoiceIncomeAndExpenses.comments"></textarea>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-success" (click)="onSubmit()">Zapisz</button>
  <button type="button" class="btn btn-info" (click)="activeModal.close('Close click')">Anuluj</button>
</div>
