<form [formGroup]="contractorForm">
  <div class="row">
    <div class="col-md-6">
      <h4 class="gold"><b>Kontrahent</b></h4>
    </div>
    <div class="col-md-6">
      <label><input class="mr-lg-1" type="checkbox" value="" name="privatePerson" [disabled]="readonly">Osoba prywatna</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput id="contractorName" placeholder="Nazwa kontrahenta" [readonly]="true" name="contractorName" formControlName="name">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput id="contractorNIP" placeholder="NIP kontrahenta" pattern="[0-9]{10}" [matAutocomplete]="auto" [readonly]="false" (input)="onContractorInputChange()" name="contractorNIP" formControlName="nip">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let contractor of contractorSuggestions" [value]="contractor" (click)="fillContractorFields(contractor)">
            {{ contractor.nip + ' ' + contractor.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Ulica" [readonly]="true" required name="contractorStreet" formControlName="street">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="Nr domu" [readonly]="true" required name="contractorHouseNumber" formControlName="houseNumber">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="Nr mieszkania" [readonly]="true" name="contractorFlatNumber" formControlName="flatNumber">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Kod pocztowy" [readonly]="true" required name="contractorZipCode" formControlName="zipCode">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Miasto" [readonly]="true" required name="contractorCity" formControlName="city">
      </mat-form-field>
    </div>
  </div>
</form>
