<div class="rounded rectangle">
  <div class="row">
    <div class="col-md-6">
      <h3 class="gold"><b>Lista faktur sprzedaży</b></h3>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-success" style="float: right" (click)="newInvoice('sale')">
        <i class="fa fa-shopping-cart fa-lg mr-1" aria-hidden="true"></i>Nowa faktura
      </button>
    </div>
  </div>
  <base-invoice-list [invoiceTypes]="invoiceType"></base-invoice-list>
</div>
