<div class="modal-header">
  <h4 class="modal-title"><b>Nowa pozycja</b></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" style="color: #C0B181;">&times;</span>
  </button>
</div>

<form [formGroup]="itemForm">
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="name">Nazwa</label>
      <div class="col-sm-8">
        <input class="form-control" id="name" formControlName="name">
        <mat-error id="emailError" *ngIf="(name.dirty || name.touched) && name.errors?.['value']">{{name.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="priceInNet">Cena jedn. netto</label>
      <div class="col-sm-8">
        <input class="form-control" id="priceInNet" formControlName="price">
        <mat-error *ngIf="(price.dirty || price.touched) && price.errors?.['value']">{{price.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="amount">Ilość</label>
      <div class="col-sm-8">
        <input class="form-control" id="amount" formControlName="amount">
        <mat-error *ngIf="(amount.dirty || amount.touched) && amount.errors?.['value']">{{amount.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="jm">j.m.</label>
      <div class="col-sm-8">
        <input class="form-control" id="jm" formControlName="unit">
        <mat-error *ngIf="(unit.dirty || unit.touched) && unit.errors?.['value']">{{unit.errors?.['value']}}</mat-error>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-lg-right" for="reason">Powód opodatkowania</label>
      <div class="col-sm-8">
        <select class="form-control" id="reason" formControlName="taxationReason">
          <option *ngFor="let key of taxationReasonKeys" [value]="taxationReasons[key]">{{taxationReasonMapping[key]}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="onSubmitItem()" [disabled]="itemForm.invalid">Zapisz</button>
    <button type="button" class="btn btn-info" (click)="activeModal.close('Close click')">Anuluj</button>
  </div>
</form>

