// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$bv-brand: (

  50: #C0B181,
  100: #C0B181,
  200: #C0B181,
  300: #C0B181,
  400: #C0B181,
  500: #C0B181,
  600: #C0B181,
  700: #C0B181,
  800: #C0B181,
  900: #C0B181,
  A100: #C0B181,
  A200: #C0B181,
  A400: #C0B181,
  A700: #C0B181,
  contrast: (
    50: #C0B181,
    100: #C0B181,
    200: #C0B181,
    300: #C0B181,
    400: #C0B181,
    500: black,
    600:  #C0B181,
    700:  #C0B181,
    800:  #C0B181,
    900:  #C0B181,
    A100: #C0B181,
    A200: #C0B181,
    A400: #C0B181,
    A700: #C0B181,
  )
);

$my-app-primary: mat.define-palette($bv-brand);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn,
  )
));

@include mat.all-component-themes($my-app-theme);

