html, body { height: 100%; background-color: #464646}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.rectangle {
  background-color: #464646;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.gold {
  color: #C0B181;
}

.white {
  color: #FFFFFF;
}

.table {
  background-color: #2B2B2B;
  border: 1px solid #6F6F6F;
  color: #EEEEEE;
  text-align: center;
}

.table tbody tr:hover {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

.table-h {
  font-size: xx-small;
  color: #C0B181;
  border: 1px solid #6F6F6F;
}

ngb-modal-backdrop {
  z-index: 1050 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  --mdc-outlined-text-field-input-text-color: white;
  --mdc-outlined-text-field-caret-color: white;
  /*--text-color: #C0B181;*/
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input {
  --mdc-outlined-text-field-input-text-color: #e74337;
  --mdc-outlined-text-field-caret-color: #e74337;
  /*--text-color: white;*/
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #464646 inset !important;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

/*::selection {*/
/*  !*background: #C0B181;*!*/
/*}*/

/*::-moz-selection {*/
/*  !*background: var(--text-color);*!*/
/*}*/

:root {
  /*--text-color: blue;*/
  --mdc-outlined-text-field-outline-color: #C0B181;
  --mdc-outlined-text-field-hover-outline-color: #E2D393;
}
