<div class="rounded rectangle">

  <app-year-navigation #childComponent (onYearChangeEvent)="getInvoicesStatistics()"></app-year-navigation>

  <div class="row" style="padding-top: 1%">
    <div class="col-md-12">
      <h3 class="gold"><b>Przychody i koszty</b></h3>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="margin: 20px">
    <google-chart #chart style="background-color: red"
                [title]="title"
                [type]="type"
                [data]="data"
                [columns]="columnNames"
                [options]="options"
                [width]="width"
                [height]="height">
    </google-chart>
  </div>
</div>
