.rectangle {
  background-color: #464646;
  padding: 1%;
  margin: 1%;
  border: 1px solid #000000;
}

.gold {
  color: #C0B181;
}

select {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

label {
  color: #FFFFFF;
  padding-right: 2%;
}
