<div class="rounded rectangle">
  <div class="row">
    <div class="col-md-6">
      <h1 class="gold"><b>Profil użytkownika</b></h1>
    </div>
  </div>
  <form #userProfileForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="Data założenia działalności" [(ngModel)]="user.userStartDate" name="startDate" (dateChange)="onStartDateChange()" required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="user.userStartDate != null && user.taxationForms != null && user.taxationForms.length > 0">
      <div *ngFor="let tf of user.taxationForms; let i = index">
        <div class="row">
          <h2>{{tf.taxationFormYear}}</h2>
          <div class="col-md-12">
            <mat-radio-group [(ngModel)]="tf.taxationForm" style="display: flex" [name]="i+tf.taxationFormYear.toString()" required>
              <div *ngFor="let key of taxationKeys; let j = index">
                <mat-radio-button [value]="taxationFormEnum[key]" class="example-radio-button" [name]="j+taxationFormEnum[key]">

                  {{taxationForms[key]}}
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
          <div class="col-md-12" *ngIf="tf.taxationForm == taxationFormEnum.lump_sum">
            <label style="float:left" class="col-form-label mr-1" for="paymentType">Stawka ryczałtu</label>
            <select style="width: auto; float: left" class="form-control" id="paymentType" [(ngModel)]="tf.lumpSum" name="invoicePaymentType" required>
              <option value="1">1%</option>
              <option value="1">5%</option>
              <option value="1">8%</option>
              <option value="1">12%</option>
              <option value="1">14%</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success mr-1" [disabled]="userProfileForm.invalid" (click)="saveUser()">Zapisz</button>
      </div>
    </div>
  </form>
</div>
