.rectangle {
  background-color: #464646;
  padding: 1%;
  margin: 1%;
  color: white;
  border: 1px solid #000000;
}

input {
  color: white;
}

mat-radio-button {
  color: white;
  padding-left: 5px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #C0B181 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #C0B181 !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:#C0B181 !important; /*outer ring color change*/
}

h2 {
  color: #C0B181;
  margin-left: 15px;
}

select {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}

select:focus {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: black;
}
