<form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="rounded rectangle">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="row" style="padding: 1%; margin-bottom: 2%">
          <h2 class="gold" style="margin: auto"><b>Zaloguj się</b></h2>
        </div>
        <div class="row" style="padding-right: 1%; padding-left: 1%">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>E-mail</mat-label>
            <input matInput  color="primary" autocomplete="nope" formControlName="userLogin" (input)="onLoginChange()">
            <mat-error *ngIf="userLogin?.errors?.['email']">{{userLogin.errors?.['email']}}</mat-error>
            <mat-error *ngIf="userLogin?.errors?.['loginError']">{{userLogin.errors?.['loginError']}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row" style="padding-right: 1%; padding-left: 1%">
          <mat-form-field appearance="outline" style="width: 100%" (input)="onPasswordChange()">
            <mat-label>Hasło</mat-label>
            <input color="primary" matInput [type]="hide ? 'password' : 'text'" autocomplete="new-password" formControlName="userPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ukryj hasło'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row" style="padding: 1%">
          <button type="submit" class="btn btn-success mr-1" (click)="login()" [disabled]="loginForm.invalid && !isServerError">Zaloguj się</button>
          <button type="button" class="btn btn-info">Anuluj</button>
        </div>
      </div>
    </div>
  </div>
</form>
