<app-month-navigation #childComponent (onDateChangeEvent)="getData()"></app-month-navigation>
<div class="row" style="padding-top: 1%">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="table-header" *ngFor="let column of columns">
          {{column}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="invoices.length <= 0; else elseBlock">
        <td style="border: 1px solid #6F6F6F" colspan="10">Brak faktur w wybranym okresie</td>
      </tr>
      <ng-template #elseBlock>
        <tr *ngFor="let item of invoices; let i = index">
          <td style="border: 1px solid #6F6F6F">{{i+1}}</td>
          <td style="border: 1px solid #6F6F6F">{{item.posting}}</td>
          <td style="border: 1px solid #6F6F6F">{{item.number}}</td>
          <td style="border: 1px solid #6F6F6F">{{invoiceTypeMapping[item.invoiceType]}}</td>
          <td style="border: 1px solid #6F6F6F">{{item.contractor.name}}</td>
          <td style="border: 1px solid #6F6F6F">{{item.contractor.nip}}</td>
          <td style="border: 1px solid #6F6F6F">{{item.net| number:'1.2-2'}}</td>
          <td *ngIf="item.invoiceType == 'no_vat'; else itemWithVat" colspan="2" style="border: 1px solid #6F6F6F">Faktura bez VAT</td>
          <ng-template #itemWithVat>
            <td style="border: 1px solid #6F6F6F">{{item.vat| number:'1.2-2'}}</td>
            <td style="border: 1px solid #6F6F6F">{{item.gross| number:'1.2-2'}}</td>
          </ng-template>
            <td style="border: 1px solid #6F6F6F; min-width: 80px">
              <div class="action-cell"><span class="a">Akcje<i class="arrow fa fa-angle-double-up ml-1"></i></span>
                <div class="actions" style="text-align: center">
                  <button type="button" class="btn btn-success" style="min-width: 90px;" [hidden]="item.document==null" (click)="viewPdf(i)">
                    <i class="fa fa-file-pdf-o mr-1" aria-hidden="true"></i>PDF
                  </button>
                  <button type="button" class="btn btn-primary" style="min-width: 90px; margin-top: 5%" (click)="editInvoice(i)">
                    <i class="fa fa-pencil mr-1" aria-hidden="true"></i>Edytuj
                  </button>
                  <button type="button" class="btn btn-danger" style="min-width: 90px; margin-top: 5%" (click)="deleteInvoice(i)">
                    <i class="fa fa-trash mr-1" aria-hidden="true"></i>Usuń
                  </button>
                </div>
              </div>
            </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>

<div class="row" style="padding-top: 1%">
  <div class="col-md-6"></div>
  <div class="col-md-6 gold">
    <h5><b>Podsumowanie</b></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="table-header" scope="col">Netto [PLN]</th>
        <th class="table-header" scope="col">VAT [PLN]</th>
        <th class="table-header" scope="col">Brutto [PLN]</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="border: 1px solid #6F6F6F">{{invoiceSummary.net | number:'1.2-2'}}</td>
        <td style="border: 1px solid #6F6F6F">{{invoiceSummary.vat | number:'1.2-2'}}</td>
        <td style="border: 1px solid #6F6F6F">{{invoiceSummary.gross | number:'1.2-2'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
