<div class="row">
  <div class="col-md-12">
    <h6 class="gold">Wybierz okres:</h6>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label for="yearSelect">Rok:</label>
    <select class="form-control" id="yearSelect" style="width: 100px; display:inline-block" (change)="onYearChange()" [(ngModel)]="selectedDate.year">
      <option *ngFor="let option of yearOptions" [value]="option">{{option}}</option>
    </select>

    <label for="monthSelect" style="padding-left: 2%">Miesiąc:</label>
    <select class="form-control" id="monthSelect" style="width: 100px; display:inline-block" (change)="onMonthChange()" [(ngModel)]="selectedDate.month">
      <option *ngFor="let option of monthOptions" [value]="option">{{option}}</option>
    </select>
  </div>
  <div class="col-md-8">
    <button type="button" id="nextMonth" class="btn btn-success" style="float: right" (click)="setNextMonth()" [disabled]="!isNextMonthEnable()">
      Następny miesiąc<i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
    </button>
    <button type="button" id="prevMonth" class="btn btn-success mr-1" style="float: right" (click)="setPreviousMonth()" [disabled]="!isPreviousMonthEnable()">
      <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>Poprzedni miesiąc
    </button>
  </div>
</div>
